.task-container{
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.task-container h1{
  text-align: center;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
}

.input-container input {
  flex-grow: 1;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-container button{
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #0051ff;
  color: white;
  border: none;
  cursor: pointer;
}

.task li {
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 100;
  padding: 5px;
  margin-bottom: 5px;
  background-color: rgb(245, 235, 235);
  border-radius: 20px;
}

.task button{
  padding: 9px 10px;
  margin: 6px;
  border-radius: 5px;
  background-color: #0094f7;
  color: white;
  border: none;
  cursor: pointer;
}

.error{
  color: red;
  font-size: 14px;
  margin: 5px;
  display: flex;
  margin-bottom: 10px;
  margin-top: 1px;
}